/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --primary-font: 400;
    --w-wght: 700;
    --bg-color: #fff;
    --button-text-color: #000;
    --bg-color-dialog: rgba(0 0 0 / 0.75);
    --dialog-text-color: #000;
    --fill-hover: #fff;
    --sign-shadow: #fff;
    --accent-color: #000;
    --sz-wdth: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
    --sign-shadow: #fff;
    --like-contour: #000;
    --icon-sparks: #ff0000;
    --like-main: #ff0000;
    --bg-pic: repeating-linear-gradient(
        -90deg,
        #d3d3d3 0 2px,
        rgb(211 211 211 / 0) 2px 4px
      ),
      repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
      linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  }